{% extends 'base.html' %}

{% block title %}
Adicionar Jogador - CareerStatus
{% endblock %}

{% block content %}
<main class="container mx-auto mt-4 px-4">
  <form method="post">
    {% csrf_token %}
    <div class="bg-white shadow-md rounded-lg p-8">
      <h2 class="text-lg font-semibold mb-6">Adicionar Novo Jogador</h2>
      <div class="space-y-4">
        <div>
          <label for="id_nome" class="block text-sm font-medium text-gray-700">Nome</label>
          <input 
            type="text" 
            name="nome" 
            id="id_nome" 
            class="block w-full border border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50 h-12 px-3 transition duration-150 ease-in-out" 
            required
          />
        </div>
        <div>
          <label for="id_posicao" class="block text-sm font-medium text-gray-700">Posição</label>
          <select name="posicao" id="id_posicao" class="block w-full border border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50 h-12 px-3 transition duration-150 ease-in-out" required>
            {% for value, display in form.posicao.field.choices %}
              <option value="{{ value }}">{{ display }}</option>
            {% endfor %}
          </select>
        </div>
        <div>
          <label for="id_potencial_min" class="block text-sm font-medium text-gray-700">Potencial Mínimo</label>
          <input 
            type="number" 
            name="potencial_min" 
            id="id_potencial_min" 
            class="block w-full border border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50 h-12 px-3 transition duration-150 ease-in-out" 
            required
            style="appearance: none; -moz-appearance: textfield;"
          >
        </div>
        <div>
          <label for="id_potencial_max" class="block text-sm font-medium text-gray-700">Potencial Máximo</label>
          <input 
            type="number" 
            name="potencial_max" 
            id="id_potencial_max" 
            class="block w-full border border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50 h-12 px-3 transition duration-150 ease-in-out" 
            required
            style="appearance: none; -moz-appearance: textfield;"
          />
        </div>
        <div>
          <label for="id_nacionalidade" class="block text-sm font-medium text-gray-700">Nacionalidade</label>
          <select name="nacionalidade" id="id_nacionalidade" class="block w-full border border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50 h-12 px-3 transition duration-150 ease-in-out" required>
            {% for value, display in form.nacionalidade.field.choices %}
              <option value="{{ value }}">{{ display }}</option>
            {% endfor %}
          </select>
        </div>
        <div>
          <label for="id_temporada_subida" class="block text-sm font-medium text-gray-700">Temporada de Subida</label>
          <select name="temporada_subida" id="id_temporada_subida" class="block w-full border border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50 h-12 px-3 transition duration-150 ease-in-out" required>
            {% for value, display in form.temporada_subida.field.choices %}
              <option value="{{ value }}">{{ display }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <button type="submit" class="mt-6 bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700 transition duration-150 ease-in-out">Salvar</button>
    </div>
  </form>
</main>
{% endblock %}
