{% extends 'base.html' %}

{% block title %}
Editar Estatísticas - CareerStatus
{% endblock %}

{% block content %}

<main class="container mx-auto mt-4 px-4">
  <form method="post">
    {% csrf_token %}
    <div class="bg-white shadow-md rounded-lg p-6">
      {{ form.as_p }}
      <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">Salvar</button>
    </div>
  </form>
</main>

<script>
  function toggleNavbar() {
    const navbar = document.getElementById('navbarNav');
    navbar.classList.toggle('hidden');
  }
</script>
{% endblock %}
