<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excluir Jogador</title>
</head>
<body>
    <h1>Excluir Jogador</h1>
    <p>Tem certeza que deseja excluir o jogador "{{ object.nome }}"?</p>
    <form action="" method="post">
        {% csrf_token %}
        <button type="submit">Confirmar Exclusão</button>
        <a href="{% url 'jogadores_vendidos' %}">Cancelar</a>
    </form>
</body>
</html>
