{% extends 'base.html' %}

{% block title %}Jogadores Vendidos - CareerStatus{% endblock %}

{% block content %}
<div class="container mt-4">
  <h1>Jogadores Vendidos</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Posição</th>
        <th>Potencial</th>
        <th>Nacionalidade</th>
        <th>Temporada de Subida</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for jogador in jogadores_vendidos %}
      <tr>
        <td>{{ jogador.nome }}</td>
        <td>{{ jogador.get_posicao_display }}</td>
        <td>{{ jogador.potencial_min }} - {{ jogador.potencial_max }}</td>
        <td>{{ jogador.get_nacionalidade_display }}</td>
        <td>{{ jogador.temporada_subida }}</td>
        <td>
          <form action="{% url 'excluir_jogador' jogador.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
          </form>
        </td>
        <td>
          {% if jogador.vendido %}
          <form action="{% url 'retirar_venda_jogador' jogador.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-warning btn-sm">Retirar de Vendidos</button>
          </form>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'ver_jogadores' %}" class="btn btn-primary">Voltar</a>
</div>
{% endblock %}
