{% extends 'base.html' %}

{% block title %}Ver Jogadores - CareerStatus{% endblock %}

{% block content %}
<main class="container mt-4">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Posição</th>
        <th>Potencial</th>
        <th>Nacionalidade</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for jogador in jogadores %}
      <tr>
        <td>
          <a href="{% url 'ver_jogador' jogador.pk %}">{{ jogador.nome }}</a>
        </td>
        <td>{{ jogador.posicao }}</td>
        <td>{{ jogador.potencial_min }} - {{ jogador.potencial_max }}</td>
        <td>{{ jogador.get_nacionalidade_display }}</td>
        <td>
          {% if not jogador.vendido %}
          <a href="{% url 'adicionar_estatisticas' jogador.pk %}" class="btn btn-sm btn-success">Add. Est.</a>
          <a href="{% url 'editar_estatisticas' jogador.pk %}" class="btn btn-sm btn-warning">Edit. Est.</a>
          <form action="{% url 'marcar_jogador_vendido' jogador.pk %}" method="post" style="display: inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-sm btn-danger">Marcar como Vendido</button>
          </form>
          {% else %}
          <span>Vendido</span>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock %}
